<div class="callout large banner">
    <div class="grid-x grid-padding-x">
        <%= link_to "< Back", users_path, class: "cell small-4" %>
        <div class="cell small-4"></div>
        <%= link_to 'See all Posts >', user_posts_path(@user), class: "cell small-4 text-right" %>
        </div>
    </div>
</div>

<div class="blog-post">
    <%= render partial: "user",  locals: { user:  @user } %>
    <%= render partial: "bio", locals: { user: @user } %>

    <% @user.most_recent_posts.each do |post| %>
        <%= render partial: "posts/post", locals:{ post: post } %>
    <% end %>
</div>

<div class="primary button-group align-center">
    <%= link_to 'See all Posts', user_posts_path(@user), class: "button" %>
</div>
