<div class="callout login large banner">
  <div class="grid-x grid-padding-x">
    <%= render 'layouts/alerts' if notice  %>
    <% if alert %>
      <div class="callout success cell small-12 text-center"><%= alert %></div>
    <% end %>
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>
</div>

<div class="blog-post">
  <h2 class="text-center">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="grid-x align-center">
      <div class="medium-8 cell">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="medium-8 cell">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="medium-8 cell">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions medium-12 cell text-center">
        <%= f.submit "Log in", class: 'button' %>
      </div>
    </div>
  <% end %>

  <div class="grid-x align-center">
    <div class="medium-8 cell">
      <div class="row">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
