<div class="callout">
    <div class="flex-container align-justify">
        <div>
            <h4><%= post.title %></h4>
            <p>by <%= post.author_id %></p>
        </div>
        <ul class="menu simple align-right">
            <li>
                <a href="#">Comments: <%= post.comments_counter || 0 %></a>
            </li>
            <li>Likes: <%= post.likes_counter || 0 %></li>
        </ul>
    </div>
    <p><%= post.text %></p>
    <ul class="menu simple align-right">
        <li>
            <%= link_to new_user_post_comment_path(@post.author_id, @post) do %>
                <i class="plus icon" ></i>
                <span>Comment</span>
            <% end %>
        </li>
        <li>
            <%= link_to user_post_likes_path(@post.author_id, @post) do %>
                <i class="heart outline icon"></i>
                <span>Like</span>
            <% end %>
        </li>
    </ul>
    <%= render partial: "comments/comment", locals: { comments: post.comments } %>
</div>